header {
    text-align: center;
}
table {
    width: 80%;
    margin: auto;
}


table, td, th {
    border: 1px solid grey;
    border-collapse: collapse;
}
/* > son los hijitos */
thead>tr>th {
    padding: 1em;
}

/* pseudoclases */
thead>tr>th:first-child {
    background-color: rgb(216, 132, 30);
}
thead>tr>th {
    background-color: rgb(231, 206, 175);
}

table> tbody> tr:last-child >td {
    padding: 1em;
    text-align: center;
    background-color: rgb(244, 118, 8);
    font-size: 1.5em;
}
/*todos los td menos el primero*/
td:not(:first-child) {
    text-align: center;
}

table> tbody> tr:first-child> td:first-child {
    text-align: center;
    writing-mode: vertical-rl;
    text-orientation: upright;
}